.card{
    text-align: center;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border: none !important;
}
.card img{
    width: 150px;
    padding-top: 30px;
    margin: 0 auto;
}

.card:hover{
    box-shadow: 5px 5px 10px gray;
}

.card-title{
    font-size: 30px;
}

.price{
    font-weight: 700;
    font-size: 18px;
}